<!DOCTYPE html>
<html>
<head>
<title>我的购物车--${store.title}</title>
<meta name="keywords" content="{$metaKeywords}" />
<meta name="description" content="{$metaDesc}" />
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="Bookmark" href="favicon.ico">
<link rel="Shortcut Icon" href="favicon.ico">

<script type="text/javascript"
	src="http://js.spcrm.com/jQuery-1.7.1.min.js"></script>
<link type="text/css" rel="stylesheet"
	href="http://cdn.titles.top/css/common.css">
<link type="text/css" rel="stylesheet"
	href="http://cdn.titles.top/css/cart.css">

</head>
<body>
	<!-- 顶部 -->
	[#include "/html/widget/topbar.html" /]
	<!-- 头部 -->
	[#include "/html/widget/header.html" /]
	<!-- 导航-->
	[#include "/html/widget/navbar.html" /]


	<div class="wrap w1 header clearfix">
		<div id="logo">
			<a href="#none" class="link2"><b></b>"结算页"</a>
		</div>

		<div class="stepflex" id="#sflex03">
			<dl class="first doing">
				<dt class="s-num">1</dt>
				<dd class="s-text">
					1.我的购物车<s></s><b></b>
				</dd>
			</dl>
			<dl class="normal last">
				<dt class="s-num">2</dt>
				<dd class="s-text">
					2.填写核对订单信息<s></s><b></b>
				</dd>
			</dl>
			<dl class="normal last">
				<dt class="s-num">3</dt>
				<dd class="s-text">
					3.成功提交订单<s></s><b></b>
				</dd>
			</dl>
		</div>
	</div>

	<div class="wrap">
		<!-- 购物车信息-Start -->
		<div class="cart-info">
			<div class="cart-all">全部商品</div>
			<div class="cart-select">
				<span>已选商品（不含运费）</span>
			</div>
		</div>
		<!-- 购物车信息-End -->
	</div>

	<div class="wrap cart-cont-item">
		<div class="h5"></div>
		<!-- 购物车TH-Start -->
		<div class="cart-table-th">
			<div class="th th-chk">
				<div id="J_SelectAll1" class="select-all">
					<div class="cart-checkbox">
						<input class="selectALL" id="C_SelectAllCbx1" type="checkbox"
							onchange="selectAll()" /> <span> <label
							for="C_SelectAllCbx1">全选</label>
						</span>
					</div>
				</div>
			</div>
			<div class="th th-item">
				<div class="td-inner">商品信息</div>
			</div>
			<div class="th th-info">
				<div class="td-inner">&nbsp;</div>
			</div>
			<div class="th th-price">
				<div class="td-inner">单价（元）</div>
			</div>
			<div class="th th-amount">
				<div class="td-inner">数量</div>
			</div>
			<div class="th th-sum">
				<div class="td-inner">金额（元）</div>
			</div>
			<div class="th th-op">
				<div class="td-inner">操作</div>
			</div>
		</div>
		<div id="cart-list"></div>
	</div>
	<!-- 购物车信息-Start -->
	<div class="wrap">
		<div class="float-bar-wrapper">
			<ul class="wrap">
				<li class="select-all"><input type="checkbox" class="selectALL"
					id="J_SelectAllCbx1" onchange="selectAll();" /> <label
					for="J_SelectAllCbx1">全选</label></li>
				<li class="delete"><a>删除</a></li>
				<li class="select-num">已选商品 <em id="cart-all-num">0</em>件
				</li>
				<li class="select-price"><span>合计（不含运费）</span> <span
					class="cart-price"> ¥<em id="cart-all-count">0.00</em>
				</span></li>
				<li class="select-buy" id="cart-settle"><span>结&nbsp;算</span></li>
			</ul>
		</div>

		<form id="cartform"
			action="http://localhost:9080/eb-site/1001/cart/settle.html"
			method="post" style="display: none;">
			<input type="hidden" id="goodsId" name="goodsId" value=""> <input
				type="hidden" id="goodsnum" name="goodsnum" value="">
		</form>

	</div>
	<!-- 购物车信息-Start -->
	<div class="wrap">
		<div id="empty" style="display: none;">
			<h2>您的购物车还是空的，赶紧行动吧！您可以：</h2>
			<ul>
				<li>看看<a href="#" target="_blank">我的收藏夹</a>
				</li>
				<li>看看<a href="#" target="_blank">已买到的宝贝</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- 尾部-->
	[#include "/html/widget/footer.html" /]

	<script type="text/javascript">
function getCartItems(){
	$.ajax({
		url : domain+'/cart/getCartItems',
		dataType : 'json',
		success : function(data) {
			if(data) {
				var carthtml ="";
				for (var i=0;i<data.items.length;i++){
					carthtml = carthtml +"<ul class=\"item-content clearfix\" id=\"cart_ul_"+data.items[i].id+"\">"
						+"<li class=\"td td-chk\"><div class=\"cart-checkbox cart-cont-checkbox\">"
						+"	<input type=\"checkbox\" name=\"goods\"  value=\""+data.items[i].id+"\" onchange=\"caculateFee();\"/></div>"
						+"</li>"
						+"<li class=\"td td-item\">"
		            	+"<div class=\"item-pic J_ItemPic img-loaded\">"
		                +"	<a href=\"#\" target=\"_blank\" title=\"\" class=\"J_MakePoint\">"
		                +"    <img src=\"\" class=\"itempic J_ItemImg\" width=\"80\" height=\"80\">"
		                +"	</a>"
		                +"</div>"
		                +"<div class=\"item-basic-info\">"
		                +"	<a href=\"#\" target=\"_blank\" title=\"\" class=\"item-title\">"+data.items[i].title+"</a>"
		                +"</div>"
		                +"</li>"
		                +"<li class=\"td td-info\">"
		                +"<div class=\"item-basic-info\">"
		                +"	<input type=\"hidden\" id=\"goods-product_"+data.items[i].id+"\" value=\""+data.items[i].productid+"\"/>";
		                if(data.items[i].skuid){
		                	carthtml = carthtml
		                	+"	<input type=\"hidden\" id=\"goods-sku_"+data.items[i].id+"\" value=\""+data.items[i].skuid+"\"/>"
			                +"	<p class=\"sku-line_\" tabindex=\"0\">"+data.items[i].specstr+"</p>";
		                } else{
		                	carthtml = carthtml
		                	+"	<input type=\"hidden\" id=\"goods-sku_"+data.items[i].id+"\" value=\"\"/>"
			                +"	<p class=\"sku-line_\" tabindex=\"0\"></p>";
		                }
		                
		                carthtml = carthtml 
		                +"</div>"
		                +"</li>"
		                +"<li class=\"td td-price\">"
		            	+"<div class=\"item-price price-promo-promo\">"
		                +"<div class=\"price-content\">"
		                //+"    <div class=\"price-line\">"
		                //+"        <em class=\"price-original\">"+data.items[i].mkprice+"</em>"
		                //+"    </div>"
		                +"    <div class=\"price-line\">"
		                +"        <em class=\"J_Price price-now\" tabindex=\"0\"><input type=\"hidden\" id=\"goods-price_"+data.items[i].id+"\" value=\""+data.items[i].price+"\">"+data.items[i].price+"</em>"
		                +"    </div>"
		                +"</div>"
		            	+"</div>"
		        		+"</li>"
		        		+"<li class=\"td td-amount\">"
		        		+"<div class=\"item-amount \">"
		        		+"<span class=\"minus_number\" val=\""+data.items[i].id+"\">"
		                +"    <a class=\"J_Minus minus \">-</a>"
		                +"</span>"
		                +"	<input type=\"text\" id=\"goods-num_"+data.items[i].id+"\" name=\"goods-num\" value=\""+data.items[i].num+"\" class=\"text text-amount J_ItemAmount\"/>"
		                +"<span class=\"plus_number\" val=\""+data.items[i].id+"\">"
		                +"    <a class=\"J_Plus plus \">+</a>"
		                +"</span>"
		            	+"</div>"
		        		+"</li>"
		        		+"<li class=\"td td-sum\">"
						+"	<em tabindex=\"0\" class=\"J_ItemSum number\" id=\"amount_"+data.items[i].id+"\">"
						+data.items[i].accout
		            	+"	</em>"
		        		+"</li>"
		        		+"<li class=\"td-op\" onclick=\"deleteCart({$cart.id})\">"
		            	+"	<a class=\"J_Del J_MakePoint\">删除</a>"
		        		+"</li>"
		    			+"</ul>	";
				}
			$("#cart-list").empty();
			$("#cart-list").html(carthtml);
			}
		}
	});
}
//删除购物车
function deleteCart(cartId) {
	$.ajax({
		url : domain+'/cart/delCart',
		data : {'cartId':cartId},
		dataType : 'json',
		success : function(json) {
			if(json.success) {
				$("#cart_ul_"+cartId).remove();
			}
		}
	});
}

// 全选
function selectAll() {
	if($(".selectALL").attr("checked")){
		$(".selectALL").attr("checked", true);
		$('input[name="goods"]').attr("checked", true); 
	}else{
		$(".selectALL").attr("checked", false);
		$('input[name="goods"]').attr("checked", false); 
	}
	caculateFee();
}

//计算所选商品总额
function caculateFee(){
	var allnum = 0;
	var allcount = 0.00;
	$('input[name="goods"]:checked').each(function(){
		var id_ = $(this).val();
		allnum =allnum + Number($("#goods-num_"+id_).val());
		allcount = allcount+ Number($("#goods-num_"+id_).val())*Number($("#goods-price_"+id_).val());
	});
	$("#cart-all-num").text(allnum);
	$("#cart-all-count").text(allcount);
}

	
            $(function(){
            	//initCart();
            	getCartItems();
            	caculateFee();
            	// 购物车数量减少
            	$(".minus_number").live("click",function(){
            		var id_ = $(this).attr("val");
            		var num = Number($("#goods-num_"+id_).val());
            		var price = Number($("#goods-price_"+id_).val());
            		if(num > 1) {
            			$(this).siblings("input").val(num -1);
            		} else {
            			$(this).siblings("input").val(1);
            		}
            		num = Number($("#goods-num_"+id_).val());
            		var amountId = "amount_" + $(this).attr("val");
            		$("#"+amountId).text(num*price);
            		caculateFee();
            	});
            	
            	// 购物车数量增加
            	$(".plus_number").live("click",function(){
            		var id_ = $(this).attr("val");
            		var num = Number($("#goods-num_"+id_).val());
            		var price = Number($("#goods-price_"+id_).val())
            		if(num >= 1) {
            			$(this).siblings("input").val(num + 1);
            		} else {
            			$(this).siblings("input").val(1);
            		}
            		num = Number($("#goods-num_"+id_).val());
            		var amountId = "amount_" + $(this).attr("val");
            		$("#"+amountId).text(num*price);
            		caculateFee();
            	});
            	
            	$(".text-amount").keyup(function(){
            		var num = Number($(this).val());
            		if(num < 1) {
            			$(this).val(1)
            		} 
            	});
            	
            	//购物车结算
            	$("#cart-settle").click(function(){
            		var itemList = new Array();
            		$('input[name="goods"]:checked').each(function(){
            			var num_ = "#goods-num_"+$(this).val();
            			var pid_ = "#goods-product_"+$(this).val();
            			var skuid_ = "#goods-sku_"+$(this).val();
            			alert("skuid="+$(skuid_).val()+"  num="+$(num_).val());
            			var item = {
            				id:$(this).val(),
            				productid:$(pid_).val(),
            				skuid:$(skuid_).val(),
            				num:$(num_).val()
            			}
            			itemList.push(item); 
            		}); 
            		
            		if (itemList.length>0){
            			$.ajax({
    						url : domain+'/order/settle',
    						data : JSON.stringify(itemList),
    						dataType : 'json',
    						type : 'POST',
    						contentType:"application/json",
    						success : function(json) {
    							alert(json.msg);
    							if(json.success) {
    								window.location.href= domain+"/order/settle.html?rid="+json.data;
    							}
    						}
    					}); 
            		}
            	});
            });
            
        	var wh = $(window).height();
        	$(window).scroll(function() {
        		var s = wh - $(window).scrollTop();
        		if (s > 200) {
        			$(".float-bar-wrapper").addClass("ui-ceilinglamp-current");
        		}else{
        			$(".float-bar-wrapper").removeClass("ui-ceilinglamp-current");
        		}
        	});
			
        </script>
</body>
</html>
