<div class="member_box">
	<div class="t">会员中心</div>
	<div class="face">
		<div class="p">
			<a class="pic"></a>
			<div class="name">
				HI!欢迎您<br>
			</div>
		</div>
		
		<div class="p" style="display: none">
			<a class="pic"></a>
			<div class="name">
				HI! 测试会员<br>您是 [XXXX]会员
			</div>
		</div>
		<div class="clear"></div>
		<div class="l">
			<a class="login_btn" href="${store.domain}/buyer/info.html">个人信息</a> 
		</div>
	</div>
	<div class="link">
		<div class="title">我的交易</div>
		<div class="menu">
			<a class="item" href="${store.domain}/order/list.html">我的订单</a>
		</div>
	</div>
	<div class="link">
		<div class="title">关注中心</div>
		<div class="menu">
			<a class="item" href="${store.domain}/collect/list.html?type=product">我的收藏</a> 
		</div>
	</div>
	<div class="link">
		<div class="title">客户服务</div>
		<div class="menu">
			<a class="item" href="${store.domain}/eval/list.html">我的评价</a> 
		</div>
	</div>
	<div class="link">
		<div class="title">积分中心</div>
		<div class="menu">
			<a class="item" href="${store.domain}/points/list.html">我的积分</a> 
		</div>
	</div>
	
	<div class="link">
		<div class="title">设置</div>
		<div class="menu">
			<a class="item" href="${store.domain}/buyer/safe.html">帐号安全</a>
			<a class="item" href="${store.domain}/buyer/address.html">收货地址</a> 
		</div>
	</div>
	<div style="height: 50px;"></div>
</div>