<%@ page contentType="text/html;charset=UTF-8" language="java"%>
<%@taglib prefix="shiro" uri="http://shiro.apache.org/tags"%>
<%@taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    
    <title>管理后台</title>
    <link href="${pageContext.request.contextPath}/static/ui-v2/css/skin_0.css" rel="stylesheet" type="text/css" id="cssfile" />

    <script type="text/javascript" src="${pageContext.request.contextPath}/static/ui-v2/jquery.js"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/static/ui-v2/jquery.validation.min.js"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/static/ui-v2/admincp.js"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/static/ui-v2/jquery.cookie.js"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/static/ui-v2/common.js"></script>
    
	<script type="text/javascript" src="${pageContext.request.contextPath}/static/jquery-ui/ui/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/static/jquery-ui/themes/ui-lightness/jquery-ui.css" />
	<script type="text/javascript" src="${pageContext.request.contextPath}/static/ui-v2/jquery.edit.js" ></script>

	<script type="text/javascript">
	        var APP_BASE = '${pageContext.request.contextPath}';
	        LOADING_IMAGE = "${pageContext.request.contextPath}/res/images/loading.gif";
	</script>

	<script type="text/javascript">
	    $(function(){
	        $('#ncsubmit').click(function(){
	            $('#formSearch').submit();
	        });
	    });
	     //标志性删除店铺
	    function deletestore(storeid){
	        var url = "/leimingtech-admin/store/manager/deletestore?id="+storeid;
	        layer.confirm('您确定要删除店铺吗', function(){
	            $.ajax({
	                type: "post",
	                url: url,
	                data: null,
	                dataType: "json",
	                async:false,
	                success:function(data) {
	                    if(data){
	                        layer.msg('删除成功', {icon: 1});
	                        setTimeout("window.location.reload()", 1200);
	                    }else{
	                        layer.msg('删除失败', {icon: 2});
	                    }
	                }
	            });
	        });
	    }
	</script>
</head>
<body>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>店铺</h3>
            <ul class="tab-base">
                <li><a href="JavaScript:void(0);" class="current"><span>管理</span></a></li>
                <li><a href="http://b2b2c.leimingtech.com/leimingtech-admin/shopStoreJoinin/list"><span>开店申请</span></a></li>
            </ul>
        </div>
    </div>
    <div class="fixed-empty"></div>
    <form method="post" name="formSearch" id="formSearch" action="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/list">
        <input type="hidden" name="pageNo" value="1">
        <table class="tb-type1 noborder search">
            <tbody>
            <tr>
                <th><label for="storeName">店铺</label></th>
                <td><input type="text" name="storeName" id="store_name" class="txt" value=""></td>
                <th><label for="sellerName">店主</label></th>
                <td><input type="text" name="memberName" id="owner_and_name" class="txt" value=""></td><td></td>
                <th><label>所属等级</label></th>
                <td><select name="gradeId">
                    <option value="">请选择...</option>
                        <option value="1">白金店铺</option>
                </select></td>
              
                <td><a href="javascript:void(0);" id="ncsubmit" class="btn-search " title="查询">&nbsp;</a>
            </td></tr></tbody>
        </table>
    </form>
    <table class="table tb-type2" id="prompt">
        <tbody>
        <tr class="space odd" style="background: rgb(255, 255, 255);">
            <th colspan="12"><div class="title">
                <h5>操作提示</h5>
                <span class="arrow"></span></div></th>
        </tr>
        <tr class="odd" style="display: none;">
            <td><ul>
                <li>如果当前时间超过店铺有效期或店铺处于关闭状态，前台将不能继续浏览该店铺，但是店主仍然可以编辑该店铺</li>
            </ul></td>
        </tr>
        </tbody>
    </table>
    <form method="post" id="store_form">
        <input type="hidden" name="form_submit" value="ok">
        <table class="table tb-type2">
            <thead>
            <tr class="thead">
                <th>店铺</th>
                <th>店主账号</th>
                <th>所在地</th>
                <th>所属等级</th>
                <th>创店时间</th>
                <th class="align-center">有效期至</th>
                <th class="align-center">状态</th>
                <th class="align-center">推荐</th>
                <th class="align-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr style="background: rgb(255, 255, 255);">
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        平台自营
                        
                    </a>
                </td>
                <td>pintaiziying</td>
                <td>北京北京市</td>
                <td>
                           
                </td>
                <td>
                </td>
                <td class="nowarp align-center">
	                2016-01-05
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                    <a href="JavaScript:void(0);" class="enabled" nc_type="inline_edit" fieldname="storeRecommend" fieldid="0" modurl="/leimingtech-admin/store/manager/recommond" fieldvalue="1" title="可编辑"><img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=0">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=0">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;0&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=0">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=0">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=0">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=0">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr style="background: rgb(251, 251, 251);">
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        微微新娘
                        
                    </a>
                </td>
                <td>18612231227</td>
                <td>北京,北京市</td>
                <td>
                           白金店铺
                </td>
                <td>
                       2016-04-18
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                    <a href="JavaScript:void(0);" class="enabled" nc_type="inline_edit" fieldname="storeRecommend" fieldid="26221f22aaae448b8e01558fec551be2" modurl="/leimingtech-admin/store/manager/recommond" fieldvalue="1" title="可编辑"><img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=26221f22aaae448b8e01558fec551be2">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=26221f22aaae448b8e01558fec551be2">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;26221f22aaae448b8e01558fec551be2&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=26221f22aaae448b8e01558fec551be2">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=26221f22aaae448b8e01558fec551be2">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=26221f22aaae448b8e01558fec551be2">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=26221f22aaae448b8e01558fec551be2">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr style="background: rgb(255, 255, 255);">
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        U-FUN
                        
                    </a>
                </td>
                <td>13750090736</td>
                <td>广东省珠海市香洲区</td>
                <td>
                           白金店铺
                </td>
                <td>
                       2016-07-29
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="2ae6c52d773347b094fccb5a65b93b82" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=2ae6c52d773347b094fccb5a65b93b82">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=2ae6c52d773347b094fccb5a65b93b82">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;2ae6c52d773347b094fccb5a65b93b82&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=2ae6c52d773347b094fccb5a65b93b82">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=2ae6c52d773347b094fccb5a65b93b82">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=2ae6c52d773347b094fccb5a65b93b82">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=2ae6c52d773347b094fccb5a65b93b82">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr style="background: rgb(255, 255, 255);">
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        开店啦
                        
                    </a>
                </td>
                <td>15210351535</td>
                <td>广西壮族自治区来宾市象州县</td>
                <td>
                           
                </td>
                <td>
                       2016-04-19
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="36926c42393e4358a844e2bd6b5d336e" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=36926c42393e4358a844e2bd6b5d336e">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=36926c42393e4358a844e2bd6b5d336e">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;36926c42393e4358a844e2bd6b5d336e&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=36926c42393e4358a844e2bd6b5d336e">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=36926c42393e4358a844e2bd6b5d336e">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=36926c42393e4358a844e2bd6b5d336e">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=36926c42393e4358a844e2bd6b5d336e">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        不加奶油的蛋糕
                        
                    </a>
                </td>
                <td>18210050755</td>
                <td>湖北省武汉市汉阳区</td>
                <td>
                           
                </td>
                <td>
                       2016-03-21
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="3ae1ae1cc88a49dfbdf18cc643a2f26b" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=3ae1ae1cc88a49dfbdf18cc643a2f26b">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=3ae1ae1cc88a49dfbdf18cc643a2f26b">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;3ae1ae1cc88a49dfbdf18cc643a2f26b&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=3ae1ae1cc88a49dfbdf18cc643a2f26b">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=3ae1ae1cc88a49dfbdf18cc643a2f26b">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=3ae1ae1cc88a49dfbdf18cc643a2f26b">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=3ae1ae1cc88a49dfbdf18cc643a2f26b">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        保持姿势
                        
                    </a>
                </td>
                <td>15801437720</td>
                <td>北京市,市辖区,东城区</td>
                <td>
                           
                </td>
                <td>
                       2016-04-16
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="5b4bf236ff1e4508884cc7ea61d479be" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=5b4bf236ff1e4508884cc7ea61d479be">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=5b4bf236ff1e4508884cc7ea61d479be">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;5b4bf236ff1e4508884cc7ea61d479be&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=5b4bf236ff1e4508884cc7ea61d479be">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=5b4bf236ff1e4508884cc7ea61d479be">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=5b4bf236ff1e4508884cc7ea61d479be">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=5b4bf236ff1e4508884cc7ea61d479be">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        开心
                        
                    </a>
                </td>
                <td>18813035210</td>
                <td>北京市,市辖区,东城区</td>
                <td>
                           
                </td>
                <td>
                       2016-04-16
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="5fe2f8f04dd94e9a85af028d0e0a42a2" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=5fe2f8f04dd94e9a85af028d0e0a42a2">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=5fe2f8f04dd94e9a85af028d0e0a42a2">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;5fe2f8f04dd94e9a85af028d0e0a42a2&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=5fe2f8f04dd94e9a85af028d0e0a42a2">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=5fe2f8f04dd94e9a85af028d0e0a42a2">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=5fe2f8f04dd94e9a85af028d0e0a42a2">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=5fe2f8f04dd94e9a85af028d0e0a42a2">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        meiyitian
                        
                    </a>
                </td>
                <td>18611566786</td>
                <td>北京市市辖区怀柔区</td>
                <td>
                           白金店铺
                </td>
                <td>
                       2016-04-18
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="979a53d5a2a744059f68f2ad5b5fa68e" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=979a53d5a2a744059f68f2ad5b5fa68e">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=979a53d5a2a744059f68f2ad5b5fa68e">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;979a53d5a2a744059f68f2ad5b5fa68e&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=979a53d5a2a744059f68f2ad5b5fa68e">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=979a53d5a2a744059f68f2ad5b5fa68e">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=979a53d5a2a744059f68f2ad5b5fa68e">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=979a53d5a2a744059f68f2ad5b5fa68e">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        123
                        
                    </a>
                </td>
                <td>18610810207</td>
                <td>新疆维吾尔自治区乌鲁木齐市天山区</td>
                <td>
                           白金店铺
                </td>
                <td>
                       2016-03-17
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="a32b6116722f4f80a324988a5281af7f" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=a32b6116722f4f80a324988a5281af7f">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=a32b6116722f4f80a324988a5281af7f">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;a32b6116722f4f80a324988a5281af7f&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=a32b6116722f4f80a324988a5281af7f">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=a32b6116722f4f80a324988a5281af7f">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=a32b6116722f4f80a324988a5281af7f">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=a32b6116722f4f80a324988a5281af7f">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        1111
                        
                    </a>
                </td>
                <td>18810004291</td>
                <td>北京市,市辖区,东城区</td>
                <td>
                           
                </td>
                <td>
                       2016-04-18
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="a8ea16fab88149c793204081fa65c687" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=a8ea16fab88149c793204081fa65c687">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=a8ea16fab88149c793204081fa65c687">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;a8ea16fab88149c793204081fa65c687&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=a8ea16fab88149c793204081fa65c687">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=a8ea16fab88149c793204081fa65c687">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=a8ea16fab88149c793204081fa65c687">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=a8ea16fab88149c793204081fa65c687">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        我的店铺
                        
                    </a>
                </td>
                <td>18510802012</td>
                <td>湖南省长沙市市辖区</td>
                <td>
                           
                </td>
                <td>
                       2016-04-21
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="ae4ddb58e66548278c2a46e15bf3ce59" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=ae4ddb58e66548278c2a46e15bf3ce59">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=ae4ddb58e66548278c2a46e15bf3ce59">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;ae4ddb58e66548278c2a46e15bf3ce59&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=ae4ddb58e66548278c2a46e15bf3ce59">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=ae4ddb58e66548278c2a46e15bf3ce59">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=ae4ddb58e66548278c2a46e15bf3ce59">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=ae4ddb58e66548278c2a46e15bf3ce59">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        123
                        
                    </a>
                </td>
                <td>15932110597</td>
                <td>北京市,市辖区,东城区</td>
                <td>
                           白金店铺
                </td>
                <td>
                       2016-07-28
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="af2a3fef15b841bdbef970d0a61a1013" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=af2a3fef15b841bdbef970d0a61a1013">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=af2a3fef15b841bdbef970d0a61a1013">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;af2a3fef15b841bdbef970d0a61a1013&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=af2a3fef15b841bdbef970d0a61a1013">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=af2a3fef15b841bdbef970d0a61a1013">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=af2a3fef15b841bdbef970d0a61a1013">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=af2a3fef15b841bdbef970d0a61a1013">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        我靠靠
                        
                    </a>
                </td>
                <td>15910576548</td>
                <td>北京,北京市</td>
                <td>
                           白金店铺
                </td>
                <td>
                       2016-04-16
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="c2b638f046ca4bb28c4779c00a4af6c6" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=c2b638f046ca4bb28c4779c00a4af6c6">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=c2b638f046ca4bb28c4779c00a4af6c6">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;c2b638f046ca4bb28c4779c00a4af6c6&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=c2b638f046ca4bb28c4779c00a4af6c6">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=c2b638f046ca4bb28c4779c00a4af6c6">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=c2b638f046ca4bb28c4779c00a4af6c6">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=c2b638f046ca4bb28c4779c00a4af6c6">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        蜂蜜柚子
                        
                    </a>
                </td>
                <td>18311340545</td>
                <td>陕西省西安市莲湖区</td>
                <td>
                           白金店铺
                </td>
                <td>
                       2016-03-18
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="dd8297ce70934688b2277a742883f912" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=dd8297ce70934688b2277a742883f912">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=dd8297ce70934688b2277a742883f912">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;dd8297ce70934688b2277a742883f912&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=dd8297ce70934688b2277a742883f912">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=dd8297ce70934688b2277a742883f912">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=dd8297ce70934688b2277a742883f912">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=dd8297ce70934688b2277a742883f912">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        约德尔的王国
                        
                    </a>
                </td>
                <td>18650530698</td>
                <td>北京,北京市</td>
                <td>
                           
                </td>
                <td>
                       2016-04-18
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="ddaa88ec4b6844c6aa02adcd85ace2ce" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=ddaa88ec4b6844c6aa02adcd85ace2ce">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=ddaa88ec4b6844c6aa02adcd85ace2ce">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;ddaa88ec4b6844c6aa02adcd85ace2ce&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=ddaa88ec4b6844c6aa02adcd85ace2ce">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=ddaa88ec4b6844c6aa02adcd85ace2ce">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=ddaa88ec4b6844c6aa02adcd85ace2ce">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=ddaa88ec4b6844c6aa02adcd85ace2ce">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        meiyitina
                        
                    </a>
                </td>
                <td>18600358957</td>
                <td>广东省珠海市市辖区</td>
                <td>
                           白金店铺
                </td>
                <td>
                       2016-04-26
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="f3208cc01cf840c189b441c8699237da" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=f3208cc01cf840c189b441c8699237da">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=f3208cc01cf840c189b441c8699237da">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;f3208cc01cf840c189b441c8699237da&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=f3208cc01cf840c189b441c8699237da">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=f3208cc01cf840c189b441c8699237da">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=f3208cc01cf840c189b441c8699237da">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=f3208cc01cf840c189b441c8699237da">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        QQq
                        
                    </a>
                </td>
                <td>13691116035</td>
                <td>北京市市辖区怀柔区</td>
                <td>
                           
                </td>
                <td>
                       2016-04-18
                </td>
                <td class="nowarp align-center">
	                2018-04-30
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                    <a href="JavaScript:void(0);" class="enabled" nc_type="inline_edit" fieldname="storeRecommend" fieldid="fec76d9a6352475eb0add436197b3f4d" modurl="/leimingtech-admin/store/manager/recommond" fieldvalue="1" title="可编辑"><img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=fec76d9a6352475eb0add436197b3f4d">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=fec76d9a6352475eb0add436197b3f4d">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;fec76d9a6352475eb0add436197b3f4d&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=fec76d9a6352475eb0add436197b3f4d">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=fec76d9a6352475eb0add436197b3f4d">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=fec76d9a6352475eb0add436197b3f4d">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=fec76d9a6352475eb0add436197b3f4d">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="hover edit ">
                    <a href="javascript:;" target="_blank">
                        大喊大叫
                        
                    </a>
                </td>
                <td>13071132729</td>
                <td>北京,北京市</td>
                <td>
                           白金店铺
                </td>
                <td>
                       2016-05-05
                </td>
                <td class="nowarp align-center">
	                                                无限制
                </td>
                <td class="align-center w72">开启</td>
                <td class="align-center yes-onoff">
                      <a href="JavaScript:void(0);" class=" disabled" nc_type="inline_edit" fieldname="storeRecommend" modurl="/leimingtech-admin/store/manager/recommond" fieldid="fede551af56643cc933329a573d30b3c" fieldvalue="0" title="可编辑">
                        <img src="./管理后台-店铺管理_files/transparent.gif"></a>
                </td>
                <td class="align-center w120">
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findById?id=fede551af56643cc933329a573d30b3c">查看</a>&nbsp;&nbsp;
                    <a href="http://b2b2c.leimingtech.com/leimingtech-admin/store/manager/findForEdit?id=fede551af56643cc933329a573d30b3c">编辑</a>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" onclick="deletestore(&#39;fede551af56643cc933329a573d30b3c&#39;&#39;)">删除</a><br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/orderIndex?storeId=fede551af56643cc933329a573d30b3c">查看销售情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/goodsClickIndex?storeId=fede551af56643cc933329a573d30b3c">查看商品流量</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/report/balanceIndex?storeId=fede551af56643cc933329a573d30b3c">查看结算情况</a>&nbsp;&nbsp;<br>
                    &nbsp;&nbsp;<a href="http://b2b2c.leimingtech.com/leimingtech-admin/bill/orderBillList?storeId=fede551af56643cc933329a573d30b3c">查看店铺账单</a>&nbsp;&nbsp;
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="tfoot">
                <td></td>
                <td colspan="16">
<div class="pagination">
    <ul><li>
                </li><li><span>首页</span></li>
                    <li><span class="currentpage">1</span></li>
                <li><span>末页</span></li>
        <script language="javascript">
            function turnOverPage(no) {
                var queryForm = document.formSearch;
                if (no >1) {
                    no =1;
                }
                if (no < 1) {
                    no = 1;
                }
                queryForm.pageNo.value=no;
                queryForm.submit();
            }
        </script>
    </ul>
</div>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>


</body></html>