<!DOCTYPE html>
<html>
<head>
<title>订单中心--${store.title}</title>
<meta name="keywords" content="{$metaKeywords}" />
<meta name="description" content="{$metaDesc}" />
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="Bookmark" href="favicon.ico">
<link rel="Shortcut Icon" href="favicon.ico">

<script type="text/javascript" src="http://js.spcrm.com/jQuery-1.7.1.min.js" ></script>
<script type="text/javascript" src="http://cdn.titles.top/js/jquery.pagination.js"></script>
<script type="text/javascript" src="http://cdn.titles.top/layer/src/layer.js?v=1.9.0"></script>

<link type="text/css" rel="stylesheet" href="http://cdn.titles.top/css/common.css">
<link type="text/css" rel="stylesheet" href="http://cdn.titles.top/css/member.css">
<link type="text/css" rel="stylesheet" href="http://cdn.titles.top/css/order.css">
<link type="text/css" rel="stylesheet" href="http://cdn.titles.top/css/pagination.css">

</head>
<body>
	<!-- 顶部 -->
	[#include "/html/widget/topbar.html" /]
	<!-- 头部 -->
	[#include "/html/widget/header.html" /]
	<div style="clear: both"></div>
	<!-- 导航-->
	[#include "/html/widget/navbar.html" /]
	<div style="clear: both"></div>

	<div id="mainer">
		<div class="wrap">
			[#include "/html/home/leftbar.html" /]
			<div id="mainbox">
				<div id="order" class="row">
					<div class="title">我的订单 </div>
					<ul class="order-tab">
						<li class="CTItem CARCur"><a href="${store.domain}/order/list.html">全部订单<span id="AllTotal">(0)</span></a></li>
						<li class="CTItem" data-state="WAIT_PAY"><a href="${store.domain}/order/list.html?state=WAIT_PAY"> 待付款 <span id="WAIT_PAY_TOTAL">(0)</span></a></li>
						<li class="CTItem" data-state="PAYED"><a href="${store.domain}/order/list.html?state=PAYED"> 待发货 <span id="PAYED_TOTAL">(0)</span></a></li>
						<li class="CTItem" data-state="SENDED"><a href="${store.domain}/order/list.html?state=SENDED"> 待收货 <span  id="SENDED_TOTAL">(0)</span></a></li>
						<li class="CTItem" data-state="RECEIVED"><a href="${store.domain}/order/list.html?state=RECEIVED"> 待评价 <span id="RECEIVED_TOTAL">(0)</span></a></li>
					</ul>
					<div id="order-title" style="margin-top: 10px;">
						<ul class="order-td">
							<li class="order-info">订单信息</li> 
							<li class="order-price">单价</li> 
							<li class="order-num">数量</li>
							<li class="order-account"> 实付款</li> 
							<li class="order-state">交易状态</li> 
							<li class="order-opt">交易操作</li>
						</ul>
					</div>
					<div class="clear"></div>
					<div id="order-list">
						
					</div>
				</div>
				<div class="clear"></div>
				
				<div class="page clearfix">
					<div id="b2c_bottomPage" class="p-wrap pagination"></div>
				</div>
			</div>
			
		</div>

		<div class="clear"></div>
	</div>
	
<script type="text/javascript">
$(".CTItem").bind("click",function(){ 
	$(".CTItem").removeClass("CARCur");
	$(this).addClass("CARCur");
	state = $(this).attr("data-state");
}); 
</script>

<!--  -->
<script type="text/javascript">
var statistnum = ${statistnum};
var state = "${state}";
var total = "${total}";
var pagesize= 3;
$("#AllTotal").html("("+total+")");
if (statistnum){
	$("#WAIT_PAY_TOTAL").html("("+statistnum.WAIT_PAY+")");
	$("#PAYED_TOTAL").html("("+statistnum.PAYED+")");
	$("#SENDED_TOTAL").html("("+statistnum.SENDED+")");
	$("#RECEIVED_TOTAL").html("("+statistnum.RECEIVED+")");
}

$(".CTItem").each(function (){
	var currstate = $(this).attr("data-state");
	if (currstate == state){
		$(".CTItem").removeClass("CARCur");
		$(this).addClass("CARCur");
	}
});
function getOrderList(page){
	var loading = layer.load(1, {
	    shade: [0.1,'#fff'] //0.1透明度的白色背景
	});
	$.ajax({
		url : domain+'/order/list',
		dataType : 'json',
		type : 'POST',
		data : "state="+state+"&page="+page+"&pagesize="+pagesize,
		success : function(data) {
			var orders = data.orderlist;
			var itemmap = data.orderItemMap;
			total = data.total;
			var pointhtml = "";
			for(var i=0;i<orders.length;i++){
				var orderid =  orders[i].serialnum;
				var orderitems = itemmap[orderid];
				pointhtml = pointhtml+"<div class='orderbox'>"
				if(orders[i].state=="WAIT_PAY"){
					pointhtml = pointhtml+"<ul class=\"order-hd\"><li class=\"first\" id='"+orderid+"'><span>订单编号："+orderid+"</span><span>"+orders[i].adddatestr+"</span><span style='float: right;'>等待付款</span></li></ul>";	
				}
				if(orders[i].state=="PAYED"){
					pointhtml = pointhtml+"<ul class=\"order-hd\"><li class=\"first\" id='"+orderid+"'><span>订单编号："+orderid+"</span><span>"+orders[i].adddatestr+"</span><span style='float: right;'>已付款，等待卖家发货</span></li></ul>";
				}
				if(orders[i].state=="SENDED"){
					pointhtml = pointhtml+"<ul class=\"order-hd\"><li class=\"first\" id='"+orderid+"'><span>订单编号："+orderid+"</span><span>"+orders[i].adddatestr+"</span><span style='float: right;'>已发货,等待确认收货</span></li></ul>";	
				}
				if(orders[i].state=="RECEIVED"){
					pointhtml = pointhtml+"<ul class=\"order-hd\"><li class=\"first\" id='"+orderid+"'><span>订单编号："+orderid+"</span><span>"+orders[i].adddatestr+"</span><span style='float: right;'>已收货</span></li></ul>";	
				}
				if(orders[i].state=="SUCCESSED"){
					pointhtml = pointhtml+"<ul class=\"order-hd\"><li class=\"first\" id='"+orderid+"'><span>订单编号："+orderid+"</span><span>"+orders[i].adddatestr+"</span><span style='float: right;'>交易成功</span></li></ul>";	
				}
				if(orders[i].state=="CANCEL"){
					pointhtml = pointhtml+"<ul class=\"order-hd\"><li class=\"first\" id='"+orderid+"'><span>订单编号："+orderid+"</span><span>"+orders[i].adddatestr+"</span><span style='float: right;'>交易关闭</span></li></ul>";	
				}
				if (orderitems){
					for(var j=0;j<orderitems.length;j++){
						pointhtml = pointhtml
						+"<ul class=\"order-bd\">"
						+"<li class=\"order-info\">"
							+"<div class='pimg'><img src=\""+orderitems[j].purl+"\" width=\"60px;\" height=\"60px;\" /></div>"
							+"<div class='ptitle'>"+orderitems[j].ptitle+"</div>"
							+"<div class='pspec'>"+orderitems[j].specstr+"</div>"
						+"</li>"
						+"<li class=\"order-price\">"+orderitems[j].price+"</li>"
						+"<li class=\"order-num\">"+orderitems[j].num+"</li>"
						+"<li class=\"order-account\">"+orderitems[j].accout+"</li>"
						+"<li class=\"order-state\"></li>"
						+"<li class=\"order-opt\"><a href='${store.domain}/order/detail.html?orderid="+orderid+"' target='blank'>查看详情</a></li>"
						+"</ul>";
					}
				}
				if(orders[i].state=="WAIT_PAY"){
					pointhtml = pointhtml+"<ul class=\"order-fd\"><li class=\"first\"><span>商品总额：￥"+orders[i].totalfee+"元</span><span> 商品总数:"+orders[i].totalnum+"件</span><span class='order-btn'><input type='button' class='btn btn-pay' value='支付' onclick='order_payfun(\""+orderid+"\")'/><input type='button' class='btn btn-cancel' value='取消' onclick='order_cancel(\""+orderid+"\")'/></span></li></ul>"	
				}
				if(orders[i].state=="PAYED"){
					pointhtml = pointhtml+"<ul class=\"order-fd\"><li class=\"first\"><span>商品总额：￥"+orders[i].totalfee+"元</span><span> 商品总数:"+orders[i].totalnum+"件</span><span class='order-btn'><input type='button' class='btn btn-cancel' value='等待卖家发货' /></span></li></ul>"	
				}
				if(orders[i].state=="SENDED"){
					pointhtml = pointhtml+"<ul class=\"order-fd\"><li class=\"first\"><span>商品总额：￥"+orders[i].totalfee+"元</span><span> 商品总数:"+orders[i].totalnum+"件</span><span class='order-btn'><input type='button' class='btn btn-pay' value='查看物流' onclick='order_shipinfo(\""+orderid+"\")'/><input type='button' class='btn btn-pay' value='收货确认' onclick='order_receive(\""+orderid+"\")'/></span></li></ul>"	
				}
				if(orders[i].state=="RECEIVED"){
					pointhtml = pointhtml+"<ul class=\"order-fd\"><li class=\"first\"><span>商品总额：￥"+orders[i].totalfee+"元</span><span> 商品总数:"+orders[i].totalnum+"件</span><span class='order-btn'><input type='button' class='btn btn-pay' value='评价' onclick='order_eval(\""+orderid+"\")'/></span></li></ul>"	
				}
				if(orders[i].state=="SUCCESSED"){
					pointhtml = pointhtml+"<ul class=\"order-fd\"><li class=\"first\"><span>商品总额：￥"+orders[i].totalfee+"元</span><span> 商品总数:"+orders[i].totalnum+"件</span><span class='order-btn'><input type='button' class='btn btn-cancel' value='交易成功' /></span></li></ul>"	
				}
				if(orders[i].state=="CANCEL"){
					pointhtml = pointhtml+"<ul class=\"order-fd\"><li class=\"first\"><span>商品总额：￥"+orders[i].totalfee+"元</span><span> 商品总数:"+orders[i].totalnum+"件</span><span class='order-btn'><input type='button' class='btn btn-cancel' value='删除' /></span></li></ul>"	
				}
				pointhtml = pointhtml+"</div>";
			}
			$("#order-list").html(pointhtml);
			layer.closeAll('loading');
		}
	}); 
}

$(function(){
	var initPagination = function() {
		var num_entries = total;
		// 创建分页
		$("#b2c_bottomPage").pagination(num_entries, {
			num_edge_entries: 1, 			//两侧显示的首尾分页的条目数
			num_display_entries: 1, 		//两侧首尾分页条目数
			callback: pageselectCallback,
			items_per_page:pagesize 		//每页显示的条目数
		});
	 }();
	 
	function pageselectCallback(page_index, jq){
		getOrderList(page_index+1);
		return false;
	}
});
</script>
	
<script type="text/javascript">
//订单取消
function order_cancel(ordersn){
	layer.confirm('确定要取消订单吗？', {icon: 3, title:'提示'}, function(index){
		$.ajax({
			url : domain+'/order/cancel',
			dataType : 'json',
			type : 'POST',
			data : "ordersn="+ordersn,
			success : function(data) {
				layer.msg(data.msg, {icon: 6});
				window.location.href=domain+"/order/list.html";
			}	    
		});
	    layer.close(index);
	});
}

//订单物流信息
function order_shipinfo(ordersn){
	window.location.href=domain+"/order/ship.html?orderid="+ordersn;	
}

//订单确认收货
function order_receive(ordersn){
	layer.confirm('请收到货后，再确认收货！否则您可能钱货两空！', {icon: 3, title:'提示'}, function(index){
		$.ajax({
			url : domain+'/order/received',
			dataType : 'json',
			type : 'POST',
			data : "ordersn="+ordersn,
			success : function(data) {
				layer.msg(data.msg, {icon: 6});
				window.location.href=domain+"/order/list.html";
			}	    
		});
	    layer.close(index);
	});
}

//订单支付请求
function order_payfun(ordersn){
	window.location.href=domain+"/order/pay.html?sn="+ordersn;
}

//订单评价
function order_eval(ordersn){
	window.location.href=domain+"/order/eval.html?orderid="+ordersn;
}
</script>
<!-- 尾部-->
[#include "/html/widget/footer.html" /]
<!-- footer end -->
</body>
</html>
